*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

body {
	position: relative;
	width: 150vw;
	height: 150vh;
	overflow: hidden;

}

.row {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	width: 101vw;
	height: 101vh;
}

.imagen {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	border-radius: inherit;
}

.items {
	position: absolute;
	border-radius: 15px;
	border: none;
	transition: all .3s;
}

.items:hover {
	transform: scale(1.1);
}

.items:hover > .imagen {
	opacity: 1;
	transition: all .3s;
}

.items:first-child {
	background-color: rgb(255, 238, 0);
	width: 150px;
	height: 200px;
	top: -10%;
	left: 15%;
}

.items:nth-child(2) {
	background-color: rgb(76, 0, 255);
	width: 300px;
	height: 200px;
	top: 65%;
	left: 5%;
}

.items:nth-child(3) {
	background-color: rgb(69, 212, 25);
	width: 220px;
	height: 400px;
	top: -13%;
	left: 98%;
}

.items:nth-child(4) {
	background-color: rgb(255, 51, 0);
	width: 150px;
	height: 100px;
	top: 40%;
	left: 75%;
}

.items:nth-child(5) {
	background-color: rgb(255, 0, 234);
	width: 200px;
	height: 250px;
	top: 20%;
	left: -10%;
}

.items:nth-child(6) {
	background-color: rgb(251, 255, 0);
	width: 230px;
	height: 140px;
	top: 68%;
	left: 60%;
}

.items:nth-child(7) {
	background-color: rgb(0, 255, 136);
	width: 300px;
	height: 150px;
	top: 28%;
	left: 22%;
}

.items:nth-child(8) {
	background-color: rgb(255, 174, 0);
	width: 180px;
	height: 200px;
	top: 85%;
	left: 35%;
}

.items:nth-child(9) {
	background-color: rgb(225, 0, 255);
	width: 200px;
	height: 150px;
	top: -15%;
	left: 50%;
}

.items:nth-child(10) {
	background-color: rgb(255, 81, 0);
	width: 300px;
	height: 200px;
	top: 75%;
	left: 85%;
}

.items:nth-child(11) {
	background-color: rgb(0, 110, 255);
	width: 100px;
	height: 140px;
	top: 40%;
	left: 55%;
}

.items:nth-child(12) {
	background-color: rgb(255, 0, 98);
	width: 300px;
	height: 300px;
	top: 75%;
	left: -20%;
}

.items:nth-child(13) {
	background-color: rgb(212, 0, 255);
	width: 300px;
	height: 150px;
	top: -20%;
	left: -15%;
}

.items:nth-child(14) {
	background-color: rgb(0, 255, 157);
	width: 250px;
	height: 120px;
	top: 105%;
	left: 55%;
}

.items:nth-child(15) {
	background-color: rgb(255, 51, 0);
	width: 180px;
	height: 200px;
	top: -15%;
	left: 30%;
}

.items:nth-child(16) {
	background-color: rgb(255, 145, 0);
	width: 200px;
	height: 300px;
	top: -20%;
	left: 70%;
}
